<!DOCTYPE html>
<html>
<head>
<title>后台管理</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2 entry-box" style="margin-top: 5%">
            <ul class="nav nav-list">
				<li class="nav-header"><h2><a href="/admin">后台管理</a></h2></li>
                <li><a href="/admin/math"> 比赛管理</a></li>
				<li><a href="/info">解题提示</a></li>
				<li><a href="/">返回前台</a></li>
				<li><a href="/logout">退出登录</a></li>


			</ul>
        </div>
        <div class="col-md-10">

                <div class="alert alert-{{category}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>


            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
