{% extends 'base_admin.html' %}

{% block admin_content %}
<div class="entry-box">
<table class="table">
    <thead>
    <tr>
        <td>Teamid</td>
        <td>Name</td>
        <td>token</td>
        <td>SSH-Password</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    {% for team in teamlist %}
    <tr>
        <td>{{team['id']}}</td>
        <td>{{team['name']}}</td>
        <td>{{team['token']}}</td>
        <td>{{team['sshpassword']}}</td>
        <td>
            <a href="/admin/team/reset/{{team['id']}}">重置</a>
            <a href="/admin/team/delete/{{team['id']}}">删除</a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<h5 class="page-header"></h5>
<center><a class="btn btn-primary" href="/admin/teamadd" role="button">添加队伍</a></center>
</div>
{% endblock %}