{% extends 'base_admin.html' %}

{% block admin_content %}
<div class="entry-box">

    <p style="color:red;">{{error}}</p>
        <form action='/admin/update/{{user.teamid}}' method="POST">
            <p style="color:red;">{{error}}</p>
            <div class="form-group">
                <label for="InputUser">TeamId</label>
                <input type="text" class="form-control" name="teamid" id="teamid" value="{{user.teamid}}">
            </div>
            <div class="form-group">
                <label for="InputUser">UserName</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="{{user.username}}">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control"  name="password" id="password" placeholder="{{user.password}}">
            </div>
            <div class="form-group">
                <label for="InputPassword">TeamName</label>
                <input type="password" class="form-control"  name="teamname" id="teamname" value="" placeholder="{{user.teamname}}">
            </div>
            <button type="submit" class="btn btn-default">update</button>
        </form>

</div>
{% endblock %}

