{% extends 'base_admin.html' %}

{% block admin_content %}
<div class="entry-box">

<table class="table">
    <thead>
    <tr>
        <td>Teamid</td>
        <td>UserName</td>
        <td>PassWord</td>
        <td>ContainerName</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    {% for user in userlist %}
    <tr>
        <td>{{user['teamid']}}</td>
        <td>{{user['username']}}</td>
        <td>{{user['password']}}</td>
        <td>{{user['teamname']}}</td>
        <td>
            <a href="/admin/delete/{{user['teamid']}}">删除</a>
            <a href="/admin/update/{{user['teamid']}}">更新</a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<h5 class="page-header"></h5>
<center><a class="btn btn-primary" href="/admin/add" role="button">添加账户</a></center>

</div>
{% endblock %}